  Hello
  <br>
  hello
  Hello
  <br>
  hello  Hello
  <br>
  hello  Hello
  <br>
  hello
  {{model.length}}

  <p {{action 'check'}}> </p>
<ul>
  {{#each model as |bill| }}
    <li>{{bill.official_title}} Hi<br> </li>
  {{/each}}
</ul>
