<form>
  <div class="form-group">
    <label for="zip">Zip</label>
    {{input value=zip id="zip"}}
  </div>

  <button class="btn btn-primary" {{action 'submit'}}>Submit</button>
</form>
{{#link-to 'congress-bills'}}Upcoming Bills{{/link-to}}

{{outlet}}
